# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Daniel Bauer
[pack]
	threads = 8
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	cm = !git add -A && git commit -m 
