# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = daniel
	email = bauer@cbs.tu-darmstadt.de
[pack]
	threads = 8
[merge]
	tool = kdiff3
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	cm = !git add -A && git commit -m 
