#git config --global rerere.enabled true This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = daniel
	email = github@dbauer.me
[pack]
	threads = 8
[merge]
	tool = kdiff3
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = input
[alias]
	co = commit
	ch = checkout
	br = branch
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[rerere]
	enabled = true
[diff]
	noprefix = true
	colorMoved = True
[commit]
	verbose = true
[color "status"]
	added = green
	changed = red
	deleted = blue
	untracked = cyan
[push]
	default = current
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[pull]
	rebase = false
