{{- $github_email := promptStringOnce . "github_email" "Github Email address" -}}

[data]
    github_email = {{ $github_email | quote }}
[git]
    autoPush = true
    autoCommit = true
    commitMessageTemplateFile = ".commit_message.tmpl"
