#git config --global rerere.enabled true This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Daniel Bauer
    email = {{ .github_email | quote }}
[core]
    pager = sh -c 'command -v diff-so-fancy >/dev/null && exec diff-so-fancy || less --tabs=4 -RX'
    pager = less
	autocrlf = input
	attributesFile = /home/dbauer/.gitattributes
[alias]
	co = commit
	ch = checkout
	br = branch
    worktree-ai = "!~/bin/git-worktree-ai"
[interactive]
    diffFilter = sh -c 'command -v diff-so-fancy >/dev/null && exec diff-so-fancy --patch || exec cat'
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[rerere]
	enabled = true
[diff]
	noprefix = true
    colorMoved = True
[commit]
	verbose = true
[color "status"]
	added = green
	changed = red
	deleted = blue
	untracked = cyan
[push]
	default = current
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[pull]
	rebase = false
[credential]
	helper = store
[gpg]
    program = /usr/bin/gpg
[include]
    path = ~/.gitconfig.local
